<!DOCTYPE html>
<html>
    <head>
        <title>inventivetalent Branding Resources and Guidelines</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            body {
                overflow-x: hidden;
                margin-left: 10px;
                margin-right: 10px;
            }

            .color_container {
                width: 150px;
                height: 150px;
                border-radius: 6px;
            }

            .color_container > div {
                padding: 10px;
                font-weight: bold;
                mix-blend-mode: difference;
                color: white;
            }

            .img_col{
                height: 350px;
            }

            .img_notice_list, .img_notice_list>li{
                list-style-type: disc !important;
            }

            .img_preview_container {
                width: 100%;
                position: relative;
            }

            .img_preview_container > img {
                height: auto;
                border-radius: 3px;
            }

            .img_preview_container > .image_preview_download_button {
                /*mix-blend-mode: difference;*/
                position: absolute;
                text-decoration: none;
                color: black;
                /*text-shadow: black 0.5px 0.5px 4px;*/
                background-color: rgba(211, 211, 211, 0.6);
                border-radius: 10%;
                padding: 2px;
            }

            .img_preview_container > a:nth-of-type(1) {
                top: 5px;
                left: 5px;
            }

            .img_preview_container > a:nth-of-type(2) {
                top: 5px;
                left: 45px;
            }

            .img_preview_container > a:nth-of-type(3) {
                top: 5px;
                left: 85px;
            }

            .tabs .tab a{
                padding: 0 2px;
            }
        </style>
        <style>
            /*@formatter:off*/
                {{#each brands}}
                    #tab_link_{{id}}:before {
                        content: url({{tabImage}});
                        vertical-align: -20%;
                        padding-right: 5px;
                    }
                {{/each}}
             /*@formatter:on*/
        </style>
    </head>
    <body>
        <div class="col s12">
            <h1>Guidelines</h1>

        </div>
        <div class="divider"></div>
        <div class="col s12">
            <h1>Resources</h1>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs z-depth-1" id="brandTabs">
                        {{#each brands}}
                            <li class="tab col s1">
                                <a id="tab_link_{{id}}" class="tab_link" data-brand="{{id}}" href="#tab_{{id}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{#each brands}}
                    <div id="tab_{{id}}" class="col s12 tab_content" data-brand="{{id}}">
                        <div class="container">
                            {{#if hasImages}}
                                <div class="row" id="{{id}}_images">
                                    <h3>Images</h3>
                                    <div class="row">
                                        {{#each images}}
                                            <div class="col s12 m6 l6 xl4 img_col">
                                                <div class="row">
                                                    <div class="img_preview_container" id="image_{{../name}}_{{id}}">
                                                        <img id="img_preview_{{id}}" src="img/{{../name}}/{{file}}-x{{@root.previewSize}}.png" width="{{@root.previewSize}}" alt="{{name}}" style="background-color:{{backgroundColor}}; padding: {{padding}}px;"/>
                                                        <a href="#" class="image_preview_download_button img_modal_button" data-brand="{{../name}}" data-image="{{file}}" data-sizes="{{sizesStr}}" data-name="{{name}}">PNG</a>
                                                        {{#if hasSvg}}
                                                            <a href="#" target="_blank" download class="image_preview_download_button image_download_btn" data-brand="{{../name}}" data-image="{{file}}" data-name="{{name}}" data-format="svg">SVG</a>
                                                        {{/if}}
                                                    </div>
                                                    <ul class="img_notice_list">
                                                        {{#if hasPadding}}
                                                            <li>{{padding}}px Padding</li>
                                                        {{/if}}
                                                        {{#if isDarkBackground}}
                                                            <li>Dark Background</li>
                                                        {{/if}}
                                                        {{#if isLightBackground}}
                                                            <li>Light Background</li>
                                                        {{/if}}
                                                        {{#if isCustomBackground}}
                                                            <li>Background: {{backgroundColor}}</li>
                                                        {{/if}}
                                                    </ul>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                            {{#if hasColors}}
                                <div class="row" id="{{id}}_colors">
                                    <h3>Colors</h3>
                                    <div class="row">
                                        {{#each colors}}
                                            <div class="col s12 m4 l3 xl3">
                                                <div class="row">
                                                    {{#if isColor}}
                                                        <div id="color_{{../name}}_{{name}}" class="color_container" style="background-color:{{color}}">
                                                            <div>{{name}}<br/>{{color}}</div>
                                                        </div>
                                                    {{/if}}
                                                    {{#if isGradient}}
                                                        <div id="gradient_{{../name}}_{{name}}" class="color_container gradient_container" style="background-image:linear-gradient({{gradientDirection}} {{#each gradient}},{{this}}{{/each}})">
                                                            <div>{{name}}<br/>{{#each gradient}}{{this}} {{/each}}</div>
                                                        </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}

                            <div class="row">
                                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/" target="_blank">
                                    <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png"/>
                                </a>
                                <br/>
                                <a href="https://{{url}}" target="_blank" xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{name}}</a>
                                by
                                <a xmlns:cc="http://creativecommons.org/ns#" href="https://inventivetalent.dev" target="_blank" property="cc:attributionName" rel="cc:attributionURL">inventivetalent</a>
                                is licensed under a
                                <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/" target="_blank">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div id="image_download_modal" class="modal">
            <div class="modal-content">
                <h4>Download Image</h4>
                <div>
                    <span id="image_download_title"></span>

                    <br/>

                    <div class="input-field col s12">
                        <select id="image_download_size_select">
                        </select>
                        <label>Size</label>
                    </div>

                    <a class="btn image_download_btn" target="_blank" id="modal_image_download_button" data-brand="" data-image="" data-size="{{@root.previewSize}}" data-format="png" href="#" download>Download</a>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.tabs').tabs();
                $('select').formSelect();
                $('.modal').modal();

                $(".tab_link").on("click", function () {
                    window.location.hash = $(this).data("brand");
                });
                if (window.location.hash && window.location.hash.length > 2) {
                    M.Tabs.getInstance(document.getElementById("brandTabs")).select("tab_" + window.location.hash.substring(1));
                }

                $(".img_modal_button").on("click", function (e) {
                    e.preventDefault();

                    let $this = $(this);
                    let brand = $this.data("brand");
                    let image = $this.data("image");
                    let sizes = $this.data("sizes") || [];
                    let format = $this.data("format") || "png";
                    let name = $this.data("name");


                    showImageDownloadModal(brand, image, format, sizes, name);
                });

                $(".image_preview_download_button").each(function () {
                    let $this = $(this);
                    let brand = $this.data("brand");
                    let image = $this.data("image");
                    let size = $this.data("size");
                    let format = $this.data("format");
                    $this.attr("href", getImagePath(brand, image, size, format));
                });

                $(".image_download_btn").on("click", function () {
                    let $this = $(this);
                    let brand = $this.data("brand");
                    let image = $this.data("image");
                    let size = $this.data("size");
                    let format = $this.data("format");
                    // window.open(getImagePath(brand,image,size,format), "_blank");
                })

            });

            function getImagePath(brand, image, size, format) {
                let file = image;
                if (format === "png") {
                    file += "-x" + size + ".png";
                } else if (format === "svg") {
                    file += "-svg.svg";
                }
                return "img/" + brand + "/" + file;
            }

            $("#image_download_size_select").on("change", function () {
                console.log("change");
                let $btn = $("#modal_image_download_button");
                $btn.data("size", this.value);
                $btn.attr("href", getImagePath($btn.data("brand"), $btn.data("image"), this.value, $btn.data("format")))
                $btn.attr("download", ($btn.data("name") || $btn.data("image")) + "." + $btn.data("format"))
            });

            function showImageDownloadModal(brand, image, format, sizes, name) {

                console.log("Open Download Modal");
                console.log("brand: " + brand)
                console.log("image: " + image);
                console.log("sizes: " + sizes);
                console.log("format: " + format);
                console.log("name: " + name);

                let btn = $("#modal_image_download_button");
                btn.data("brand", brand);
                btn.data("image", image);
                btn.data("format", format || "png");
                btn.data("name", name || image);
                $("#modal_image_download_button").attr("href", getImagePath(brand, image,{{@root.previewSize}}, format));
                $("#modal_image_download_button").attr("download", (name || image) + "." + format);

                $("#image_download_title").text(brand + " " + (name || image));

                $("#image_download_size_select").empty();
                for (let size of sizes) {
                    $("#image_download_size_select").append("<option value='" + size + "' " + (size ==={{@root.previewSize}}? "selected" : "") + ">" + size + "</option>");
                }
                $("#image_download_size_select").formSelect();

                M.Modal.getInstance(document.getElementById("image_download_modal")).open();
            }
        </script>
    </body>
</html>
